body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: play;
}

.content{
	width: 70%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	padding: 5%;
	background-color: rgb(75, 180, 255);

	.imageHolder{
		width: 90%;
		padding: 5%;
		display: inline-block;
		background-color: rgb(232, 232, 232);
		margin-bottom: 10px;
		.leftSandal{
			width: 40%;
			float: left;
			margin-left: 5%;
			margin-right: 5%;
			.outsideShoe{

			}
			.insideShoe{

			}
			.strap{

			}
		}
		.rightSandal{
			width: 40%;
			float: left;
			margin-left: 5%;
			margin-right: 5%;
			.outsideShoe{

			}
			.insideShoe{

			}
			.strap{

			}
		}

		.balanceScale{
			width: 70%;
			margin-left: 15%;
			margin-right: 15%;
			float: left;
			margin-top: 5%;
			height: 25px;
			background-color: rgb(145, 145, 145);
			border-radius: .7em;

			.meter{
				height: 35px;
				width: 35px;
				border-radius: 1em;
				background-color: rgba(0, 128, 255, 1);
				//margin-left: 45%;
				// done in javascript
				//margin-right: 50%;
				position: relative;
				top: -5px;
			}

			.center{
				display: none;
				margin-left: 49.5%;
				margin-right: 49.5%;
				width: 1%;
				height: 100%;
				position: relative;
				top: -35px;
				background-color: #175581;
			}
		}
	}

	.infoHolder{
		.footInfo{
			width: 90%;
			padding: 5%;
			background-color: white;
			display: inline-block;
			text-align: center;
			.leftInfo{
				width: 50%;
				float: left;
				.leftTitle{

				}
				.leftContent{

				}
			}
			.rightInfo{
				width: 50%;
				float: left;
				.rightTitle{

				}
				.rightContent{

				}
			}

			.info{
				.footTitle{
					font-size: 3vw;
				}
				.footContent{
					font-size: 4vw;
				}
			}
		}

		.alertInfo{
			background-color: rgb(228, 253, 238);
			width: 90%;
			display: inline-block;
			padding: 5%;
			.button{
				width: 25%;
				float: left;
				margin-left: 5%;
				margin-right: 5%;
				.actualButton{
					fill: rgb(100, 200, 100);
				}
			}
			.alertStatus{
				width: 60%;
				float: left;
				font-size: 8vw;
				text-align: center;
			}
		}
	}


}
