/* line 1, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
html {
  height: 100%;
  width: 100%;
  background-color: #4bb4ff; }

/* line 7, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: play; }

/* line 15, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
.content {
  width: 90%;
  padding: 5%;
  background-color: #4bb4ff; }
  /* line 20, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
  .content .imageHolder {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 90%;
    padding: 5%;
    display: inline-block;
    background-color: #e8e8e8;
    margin-bottom: 20px; }
    @media screen and (min-device-width: 1200px) {
      .content .imageHolder {
        border-top-left-radius: 30px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 0px;
        width: 40%;
        float: left; } }
    /* line 36, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .imageHolder .leftSandal {
      width: 35%;
      float: left;
      margin-left: 10%;
      margin-right: 5%; }
    /* line 51, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .imageHolder .rightSandal {
      width: 35%;
      float: left;
      margin-left: 5%;
      margin-right: 10%; }
    /* line 67, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .imageHolder .balanceScale {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      float: left;
      height: 50px;
      margin-top: 5%;
      background-color: #b4b4b4;
      border-radius: 20em; }
      @media screen and (min-device-width: 1200px) {
        .content .imageHolder .balanceScale {
          height: 25px; } }
      /* line 80, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
      .content .imageHolder .balanceScale .meter {
        width: 80px;
        height: 80px;
        top: -15px;
        border-radius: 100em;
        background-color: #3b9dff;
        position: relative; }
        @media screen and (min-device-width: 1200px) {
          .content .imageHolder .balanceScale .meter {
            height: 35px;
            width: 35px;
            top: -5px; } }
      /* line 97, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
      .content .imageHolder .balanceScale .center {
        display: none;
        margin-left: 49.5%;
        margin-right: 49.5%;
        width: 1%;
        height: 100%;
        position: relative;
        top: -35px;
        background-color: #175581; }
  @media screen and (min-device-width: 1200px) {
    .content .infoHolder {
      width: 50%;
      float: left;
      background-color: #e8e8e8;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px; } }
  /* line 119, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
  .content .infoHolder .footInfo {
    margin-bottom: 20px;
    width: 90%;
    padding: 5%;
    background-color: white;
    display: inline-block;
    text-align: center; }
    @media screen and (min-device-width: 1200px) {
      .content .infoHolder .footInfo {
        margin-top: 0px;
        border-top-right-radius: 30px;
        margin-bottom: 0px; } }
    /* line 131, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .infoHolder .footInfo .info {
      background-color: #f0f0f0;
      border-radius: 50px;
      width: 100%;
      margin-top: 15px;
      float: left; }
      @media screen and (min-device-width: 1200px) {
        .content .infoHolder .footInfo .info {
          margin-top: 0px;
          width: 50%;
          background-color: transparent; } }
      /* line 142, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
      .content .infoHolder .footInfo .info .footTitle {
        font-size: 6vw; }
        @media screen and (min-device-width: 1200px) {
          .content .infoHolder .footInfo .info .footTitle {
            font-size: 3vw; } }
      /* line 148, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
      .content .infoHolder .footInfo .info .footContent {
        color: gray;
        font-size: 6vw; }
        @media screen and (min-device-width: 1200px) {
          .content .infoHolder .footInfo .info .footContent {
            font-size: 2vw; } }
    @media screen and (min-device-width: 1200px) {
      .content .infoHolder .footInfo .averageInfo {
        margin-top: 10px;
        width: 100%; } }
  /* line 187, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
  .content .infoHolder .alertInfo {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #e4fdee;
    width: 90%;
    display: inline-block;
    padding: 5%; }
    @media screen and (min-device-width: 1200px) {
      .content .infoHolder .alertInfo {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 0px; } }
    /* line 198, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .infoHolder .alertInfo .button {
      width: 25%;
      float: left;
      margin-left: 5%;
      margin-right: 5%; }
      /* line 203, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
      .content .infoHolder .alertInfo .button .actualButton {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
        border-radius: 100%;
        background-color: #64c864; }
    /* line 211, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .infoHolder .alertInfo .alertStatus {
      width: 60%;
      float: left;
      font-size: 12vw;
      text-align: center; }
      @media screen and (min-device-width: 1200px) {
        .content .infoHolder .alertInfo .alertStatus {
          font-size: 5vw; } }

/*# sourceMappingURL=style.css.map */
