/* line 1, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: play; }

/* line 9, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
.content {
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  padding: 5%;
  background-color: #4bb4ff; }
  /* line 17, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
  .content .imageHolder {
    width: 90%;
    padding: 5%;
    display: inline-block;
    background-color: #e8e8e8;
    margin-bottom: 10px; }
    /* line 23, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .imageHolder .leftSandal {
      width: 40%;
      float: left;
      margin-left: 5%;
      margin-right: 5%; }
    /* line 38, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .imageHolder .rightSandal {
      width: 40%;
      float: left;
      margin-left: 5%;
      margin-right: 5%; }
    /* line 54, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .imageHolder .balanceScale {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      float: left;
      margin-top: 5%;
      height: 25px;
      background-color: #919191;
      border-radius: .7em; }
      /* line 64, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
      .content .imageHolder .balanceScale .meter {
        height: 35px;
        width: 35px;
        border-radius: 1em;
        background-color: #0080ff;
        position: relative;
        top: -5px; }
      /* line 76, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
      .content .imageHolder .balanceScale .center {
        display: none;
        margin-left: 49.5%;
        margin-right: 49.5%;
        width: 1%;
        height: 100%;
        position: relative;
        top: -35px;
        background-color: #175581; }
  /* line 90, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
  .content .infoHolder .footInfo {
    width: 90%;
    padding: 5%;
    background-color: white;
    display: inline-block;
    text-align: center; }
    /* line 96, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .infoHolder .footInfo .leftInfo {
      width: 50%;
      float: left; }
    /* line 106, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .infoHolder .footInfo .rightInfo {
      width: 50%;
      float: left; }
    /* line 118, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .infoHolder .footInfo .info .footTitle {
      font-size: 3vw; }
    /* line 121, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .infoHolder .footInfo .info .footContent {
      font-size: 4vw; }
  /* line 127, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
  .content .infoHolder .alertInfo {
    background-color: #e4fdee;
    width: 90%;
    display: inline-block;
    padding: 5%; }
    /* line 132, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .infoHolder .alertInfo .button {
      width: 25%;
      float: left;
      margin-left: 5%;
      margin-right: 5%; }
      /* line 137, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
      .content .infoHolder .alertInfo .button .actualButton {
        fill: #64c864; }
    /* line 141, /Users/CyrusRoshan/GitHub/Not Mine/Cooperation/DiabeticNeuropathy/CSS/style.scss */
    .content .infoHolder .alertInfo .alertStatus {
      width: 60%;
      float: left;
      font-size: 8vw;
      text-align: center; }

/*# sourceMappingURL=style.css.map */
