html {
  height: 100%;
  width: 100%;
  background-color: #4bb4ff; }

a {
  text-decoration: none;
  color: #4bb4ff; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: play; }

.content {
  width: 90%;
  margin-left: 0%;
  padding: 5%;
  background-color: #4bb4ff; }
  @media screen and (min-device-width: 1200px) {
    .content {
      width: 70%;
      margin-left: 12.5%;
      padding: 2.5%; } }
  .content .imageHolder {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 90%;
    padding: 5%;
    display: inline-block;
    background-color: #e8e8e8;
    margin-bottom: 20px; }
    @media screen and (min-device-width: 1200px) {
      .content .imageHolder {
        border-top-left-radius: 30px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 0px;
        width: 40%;
        float: left; } }
    .content .imageHolder .leftSandal {
      width: 35%;
      float: left;
      margin-left: 10%;
      margin-right: 5%; }
      @media screen and (min-device-width: 1200px) {
        .content .imageHolder .leftSandal {
          width: 45%;
          margin-left: 0; } }
    .content .imageHolder .rightSandal {
      width: 35%;
      float: left;
      margin-left: 5%;
      margin-right: 10%; }
      @media screen and (min-device-width: 1200px) {
        .content .imageHolder .rightSandal {
          width: 45%;
          margin-right: 0; } }
    .content .imageHolder .balanceScale {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      float: left;
      height: 50px;
      margin-top: 5%;
      background-color: #b4b4b4;
      border-radius: 20em; }
      @media screen and (min-device-width: 1200px) {
        .content .imageHolder .balanceScale {
          height: 25px; } }
      .content .imageHolder .balanceScale .meter {
        width: 80px;
        height: 80px;
        top: -15px;
        border-radius: 100em;
        background-color: #3b9dff;
        position: relative; }
        @media screen and (min-device-width: 1200px) {
          .content .imageHolder .balanceScale .meter {
            height: 35px;
            width: 35px;
            top: -5px; } }
      .content .imageHolder .balanceScale .center {
        display: none;
        margin-left: 49.5%;
        margin-right: 49.5%;
        width: 1%;
        height: 100%;
        position: relative;
        top: -35px;
        background-color: #175581; }
    .content .imageHolder .desktopOnly {
      display: none; }
      @media screen and (min-device-width: 1200px) {
        .content .imageHolder .desktopOnly {
          display: inline-block;
          margin-top: 10%; } }
      .content .imageHolder .desktopOnly .info {
        text-align: center;
        font-size: 3vw; }
  @media screen and (min-device-width: 1200px) {
    .content .infoHolder {
      width: 50%;
      float: left;
      background-color: #e8e8e8;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px; } }
  .content .infoHolder .alertInfo {
    margin-bottom: 20px;
    background-color: #e4fdee;
    width: 90%;
    display: inline-block;
    padding: 5%; }
    @media screen and (min-device-width: 1200px) {
      .content .infoHolder .alertInfo {
        margin-top: 0px;
        border-top-right-radius: 30px;
        margin-bottom: 0px; } }
    .content .infoHolder .alertInfo .button {
      width: 25%;
      float: left;
      margin-left: 5%;
      margin-right: 5%; }
      .content .infoHolder .alertInfo .button .actualButton {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
        border-radius: 100%;
        background-color: #64c864; }
    .content .infoHolder .alertInfo .alertStatus {
      width: 60%;
      float: left;
      font-size: 12vw;
      text-align: center; }
      @media screen and (min-device-width: 1200px) {
        .content .infoHolder .alertInfo .alertStatus {
          font-size: 5vw; } }
  .content .infoHolder .footInfo {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 90%;
    padding: 5%;
    background-color: white;
    display: inline-block;
    text-align: center; }
    @media screen and (min-device-width: 1200px) {
      .content .infoHolder .footInfo {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 0px; } }
    .content .infoHolder .footInfo .row {
      width: 100%;
      float: left; }
      @media screen and (min-device-width: 1200px) {
        .content .infoHolder .footInfo .row {
          margin-top: 10px;
          margin-bottom: 10px; } }
      .content .infoHolder .footInfo .row .info {
        background-color: #f0f0f0;
        border-radius: 50px;
        width: 100%;
        margin-top: 15px;
        float: left; }
        @media screen and (min-device-width: 1200px) {
          .content .infoHolder .footInfo .row .info {
            margin-top: 0px;
            width: 50%;
            background-color: transparent; } }
        .content .infoHolder .footInfo .row .info .footTitle {
          font-size: 6vw; }
          @media screen and (min-device-width: 1200px) {
            .content .infoHolder .footInfo .row .info .footTitle {
              font-size: 3vw; } }
        .content .infoHolder .footInfo .row .info .footContent {
          color: gray;
          font-size: 6vw; }
          @media screen and (min-device-width: 1200px) {
            .content .infoHolder .footInfo .row .info .footContent {
              font-size: 2vw; } }
      .content .infoHolder .footInfo .row .graph {
        background-color: #b4b4b4;
        border-radius: 30px;
        width: 100%;
        float: left; }
        .content .infoHolder .footInfo .row .graph .graphTitle {
          font-size: 6vw; }
          @media screen and (min-device-width: 1200px) {
            .content .infoHolder .footInfo .row .graph .graphTitle {
              font-size: 3vw; } }
        .content .infoHolder .footInfo .row .graph .graphContent {
          width: 50%;
          margin-left: 10%;
          float: left;
          margin-right: 5%; }
          .content .infoHolder .footInfo .row .graph .graphContent .quad {
            width: 50%;
            float: left;
            display: block; }
            .content .infoHolder .footInfo .row .graph .graphContent .quad .leftFront {
              background-color: #e8e8e8;
              width: 0px;
              height: 0px;
              border-radius: 100%; }
            .content .infoHolder .footInfo .row .graph .graphContent .quad .rightFront {
              background-color: rgba(232, 232, 232, 0);
              width: 0px;
              height: 0px;
              border-radius: 100%; }
            .content .infoHolder .footInfo .row .graph .graphContent .quad .leftBack {
              background-color: #3b9dff;
              width: 0px;
              height: 0px;
              border-radius: 100%; }
            .content .infoHolder .footInfo .row .graph .graphContent .quad .rightBack {
              background-color: cyan;
              width: 0px;
              height: 0px;
              border-radius: 100%; }
        .content .infoHolder .footInfo .row .graph .graphKey {
          width: 30%;
          float: left;
          font-size: 4vw; }
          @media screen and (min-device-width: 1200px) {
            .content .infoHolder .footInfo .row .graph .graphKey {
              font-size: 1.5vw; } }
          .content .infoHolder .footInfo .row .graph .graphKey .keyTitle {
            font-size: 5vw;
            display: inline; }
            @media screen and (min-device-width: 1200px) {
              .content .infoHolder .footInfo .row .graph .graphKey .keyTitle {
                font-size: 2vw; } }
          .content .infoHolder .footInfo .row .graph .graphKey .keyColor {
            display: inline;
            width: 10%; }
      @media screen and (min-device-width: 1200px) {
        .content .infoHolder .footInfo .row .averageInfo {
          margin-top: 10px;
          width: 100%; } }

/*# sourceMappingURL=style.css.map */
